// scss-docs-start theme-color-variables
$body-color: #fff !default;
$body-bg: #090909 !default;

// scss-docs-end theme-color-variables

// scss-docs-start font-variables
$font-family:
    'Inter',
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji' !default;
$font-family-roboto: 'Roboto', $font-family !default;
// scss-docs-end theme-color-variables
