.btn {
    --bg-color-default: transparent;
    --bg-color-hover: var(--bg-color-default);
    --bg-color-active: var(--bg-color-hover);
    --bg-color-disabled: var(--bg-color-default);
    --bg-color: var(--bg-color-default);

    --border-color-default: transparent;
    --border-color-hover: var(--border-color-default);
    --border-color-active: var(--border-color-hover);
    --border-color-disabled: var(--border-color-default);
    --border-color: var(--border-color-default);

    --color-default: #{$body-color};
    --color-hover: var(--color-default);
    --color-active: var(--color-hover);
    --color-disabled: var(--color-default);
    --color: var(--color-default);

    --outline-color: currentColor;

    --padding-x: 30px;
    --padding-y: 29px;

    --line-height: 1;

    display: inline-block;
    text-align: center;
    color: var(--color);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: var(--line-height);
    min-height: calc(var(--line-height) * 1em + var(--padding-y) * 2);
    position: relative;
    padding: var(--padding-y) var(--padding-x);
    letter-spacing: 0;
    cursor: pointer;
    text-decoration: none;
    flex-shrink: 0;
    transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;

    @media (any-hover: hover), (hover: hover) and (pointer: fine) {
        &:not(:disabled):hover {
            --color: var(--color-hover);
            --bg-color: var(--bg-color-hover);
            --border-color: var(--border-color-hover);
        }
    }

    &:hover,
    &:active {
        color: var(--color);
    }

    &:not(:disabled):active {
        --color: var(--color-active);
        --bg-color: var(--bg-color-active);
        --border-color: var(--border-color-active);
    }

    &:focus-visible {
        --color: var(--color-hover);
        --bg-color: var(--bg-color-hover);
        --border-color: var(--border-color-hover);
        outline: 2px solid var(--outline-color);
        outline-offset: 4px;
    }

    &:disabled {
        --color: var(--color-disabled);
        --bg-color: var(--bg-color-disabled);
        --border-color: var(--border-color-disabled);
        cursor: not-allowed;
        opacity: 0.5;
    }
}

// .btn-primary {
//     --color-default: #fff;

//     --bg-color-default: #{$primary};
//     --bg-color-hover: #{darken($primary, 8%)};
//     --bg-color-active: #{darken($primary, 10%)};

//     --border-color-default: #{$primary};
//     --border-color-hover: #{darken($primary, 8%)};
//     --border-color-active: #{darken($primary, 10%)};
// }

.btn-geometry-wide {
    width: 100%;
}
