@chipsadesign:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=omJFAuSbYL8LDf-PYKxT
//gitlab.com/api/v4/projects/16245492/packages/npm/:_authToken=omJFAuSbYL8LDf-PYKxT
//npm.greensock.com/:_authToken=71f6ba12-3e3b-4bfe-8547-aefd1a6136c3
@gsap:registry=https://npm.greensock.com