.link {
    --bg-size: 0% 100%;
    --bg-size-hover: 100% 100%;
    --underline-height: 1px;
    background-image: linear-gradient(
        transparent calc(100% - var(--underline-height)),
        currentColor var(--underline-height)
    );
    background-repeat: no-repeat;
    background-size: var(--bg-size);
    display: inline;
    transition:
        background-size 0.4s easeOutCubic,
        color 0.25s easeOutCubic,
        opacity 0.25s easeOutCubic;

    @include hover {
        background-size: var(--bg-size-hover);
    }

    &:active {
        background-size: var(--bg-size-hover);
    }

    &:focus-visible {
        background-size: var(--bg-size-hover);
    }

    &.link--underlined {
        --bg-size: 100% 100%;
        --bg-size-hover: 0% 100%;
    }
}
