@use '@/app/css/base/variables' as *;
@use '@/app/css/utils/mixins' as *;

html.lab-detail-page {
    overscroll-behavior: none;
}

.lab-detail-page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.page__header-back-link {
    .icon {
        transform: rotate(-90deg);
    }
}

.lab-detail-page__error {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: auto;
}

.experiment-canvas-wrapper {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.tip {
    position: absolute;
    z-index: 1;
    bottom: var(--offset-x);
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
}
