.main-section {
    padding-top: calc(var(--header-height) + 50px);
}

@property --main-title-text-stroke {
    syntax: '<length>';
    inherits: false;
    initial-value: 1px;
}

.main-title {
    font-family: $font-family-roboto;
    font-weight: 700;
    font-size: 7vw;
    letter-spacing: -0.04em;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: var(--main-title-text-stroke, 1px) #fff;
    line-height: 1.1;
    mix-blend-mode: difference;
    transition: --main-title-text-stroke 0.5s easeOutCubic;

    @include hover {
        --main-title-text-stroke: 5px;
    }
}
