.round-btn {
    --size: 50px;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    padding: calc(0.25 * var(--size));
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid currentColor;
    transition:
        background-color 0.25s ease,
        color 0.25s ease;
    outline-offset: 4px;

    @include hover {
        background-color: #fff;
        color: #000;
    }

    @include mobile {
        --size: 40px;
    }

    svg {
        width: 100%;
        height: auto;
    }
}
