.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 3;
    display: flex;
    align-items: center;
    mix-blend-mode: difference;
    text-transform: uppercase;
    font-size: 12px;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-nav-list {
    display: flex;
    gap: 30px;
}
