.lab-page-title {
    margin-bottom: 60px;
}

.experiment-error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.experiments-list {
    --columns: 4;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(var(--columns), 1fr);

    @media screen and (max-width: 1024px) {
        --columns: 2;
    }

    @media screen and (max-width: 576px) {
        --columns: 1;
    }
}

.experiment {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.experiment__top {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}
