.lab-page-title {
    margin-bottom: 60px;
}

.experiment-error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.experiments-list {
    --columns: 4;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(var(--columns), 1fr);

    @media screen and (max-width: 1024px) {
        --columns: 2;
    }

    @media screen and (max-width: 576px) {
        --columns: 1;
    }
}

.experiments-list-item {
    --filter-value: 0;
    display: flex;
    flex-direction: column;
    filter: sepia(var(--filter-value));
    transition: filter 0.3s ease;

    @include hover {
        --filter-value: 1;
    }
}

.experiments-list-item__img-wrapper {
    --aspect-ratio: 1;
    margin-bottom: 25px;
    background-color: #171717;
}

.experiments-list-item__name {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    @include responsive-font-size(16px, 20px, 1280px, 1920px);
}

.experiment {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.experiment__top {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}
