// Base
@import 'base/variables';
@import 'utils/mixins';
@import 'base/custom-properties';
@import 'base/reset';
@import 'base/fonts';

@import 'layout/common';
@import 'layout/typography';
@import 'layout/link';

// Components
@import 'components/round-btn.scss';
@import '../app/components/shared/Responsive/Responsive.scss';

// Layout
@import '../app/components/layout/Header/Header.scss';
@import '../app/components/layout/Footer/Footer.scss';
@import '../app/sections/MainSection/MainSection.scss';

// Pages
@import 'pages/index';
@import 'pages/lab';
//
