.footer {
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
    font-size: 12px;
}

.footer-soc-list {
    margin-left: auto;
}

.soc-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
